.image-container {
    position: relative;
    display: inline-block;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    .overlay-text {
        position: absolute;
        top: 40%;
        left: 10px;
        /* Position on the left side */
        transform: translateY(-50%);
        text-align: left;
        /* Align text to the left */
        padding: 20px;
        /* Add padding for better visibility */
        color: #fff;
        /* Text color */
    }

    h1 {
        font-size: 60px;
    }

    p {
        text-align: center;
        font-size: 30px;
    }

    .overlay-text h1,
    .overlay-text p {
        margin: 0;
        /* Remove default margins for clean appearance */
    }
}

:host {
    display: block;
    width: 100%;

    .slides {
        width: 100%;
        height: 500px;
        overflow: hidden;
        position: relative;

        .slide {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;

            .overlay-text {
                position: absolute;
                top: 40%;
                left: 10px;
                transform: translateY(-50%);
                text-align: left;
                padding: 20px;
                color: #fff;
            }
        
            h1 {
                font-size: 60px;
            }
        
            p {
                text-align: center;
                font-size: 30px;
            }
        
            .overlay-text h1,
            .overlay-text p {
                margin: 0;
            }
        }

        #indicators {
            position: absolute;
            left: 0px;
            right: 0px;
            margin: auto;
            bottom: 20px;
            width: 200px;

            .indicator {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #131212;
                display: inline-block;
                margin: 0px 5px;
                cursor: pointer;
                transition: background-color 0.5s ease-in-out;

                &.active {
                    background-color: white;
                }
            }
        }

        .nextButton,
        .prevButton {
            position: absolute;
            top: 50%;
            border: 0px;
            background-color: transparent;
            font-size: 30px;
            color: #fff;
        }

        .nextButton {
            right: 20px;
        }

        .prevButton {
            left: 20px;
        }
    }

}