<div class="gallery" id="gallery">
  <div class="container-fluid">
    <div>
        <h2>Gallery</h2>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="image-container" id="media_coverage">
                <img src="https://comartsci.msu.edu/sites/default/files/2018-05/digitalmediacertificate.jpg" alt="Media Coverage">
                <a href="#"><u>Media Coverage</u> ></a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="image-container" id="edu_activities">
                <img src="https://th-thumbnailer.cdn-si-edu.com/nXJEn5FWxD3byHKpyeHPcr1TjlE=/1000x750/filters:no_upscale()/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/8a/15/8a15ba43-6464-4251-90b6-721051cac929/dsc00247.jpg" alt="Educational Activities">
                <a href="#"><u>Educational Activities</u> ></a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="image-container" id="achievements">
                <img src="https://media.istockphoto.com/id/961399110/photo/winning-team-is-holding-trophy-in-hands-silhouettes-of-many-hands-in-sunset.jpg?s=612x612&w=0&k=20&c=FU27I77FGFxVGTazrS__V9I8mNv3IC1sENsX9Y2g23E=" alt="Achievements">
                <a href="#"><u>Achievements</u> ></a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="image-container" id="production">
                <img src="https://media.istockphoto.com/id/582256640/photo/oil-refinery-chemical-petrochemical-plant.jpg?s=2048x2048&w=is&k=20&c=smpnqpTn9Sw_wKfzJHo3qLTfF9r6SCCNyv7DgOVFUVg=" alt="Production">
                <a href="#"><u>Production</u> ></a>
            </div>
        </div>
    </div>
  </div>  
</div>
